@media(min-width: $desktop-width) {
    header {
        position: relative;
    }
    header::before {
        content: "";
        width: 100%;
        height: 66px;
        background-color: #ececec;
        position: absolute;
        top: 120px;
        z-index: 2;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    position: relative;
}

@media(min-width: $desktop-width) {
    .header {
        max-width: 1502px;
        margin: 0 auto;
        padding: 0 31px;
        background-color: $color-content;
        padding: 0;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 8px 10px;
    flex-wrap: wrap;
    align-items: center;
}

@media(min-width: $tablet-width) {
    .header__wrapper {
        padding: 12px 40px 9px 40px;
    }
}

@media(min-width: $desktop-width) {
    .header__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 22px 10px 32px 30px;
    }
}

.header__nav-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width: $desktop-width) {
    .header__nav-container {
        position: absolute;
        top: 136px;
        left: 29px;
        z-index: 3;
        display: flex;
        flex-direction: row;
    }
}

@media(min-width: $desktop-width) {
    .header__link-burger {
        margin-right: 21px;
    }
}

.header__burger,
.header__burger::before,
.header__burger::after {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 3px;
    background-color: $green;
}

.header__burger::before,
.header__burger::after {
    content: "";
    position: absolute;
}

.header__burger::before {
    top: -8px;
}

.header__burger::after {
    top: 8px;
}

.header__nav-title {
    display: none;
}

@media(min-width: $desktop-width) {
    .header__nav-title {
        display: inline-block;
        margin: 0;
        margin-top: 5px;
        width: 300px;
        right: 0;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
    }
}

.header__nav {
    display: none;
}

.header__logo-container {
    margin-left: 36px;
}

@media (min-width:$desktop-width) {
    .header__logo-container {
        margin-left: 0;
    }
}

.header__logo-img {
    width: 98px;
    height: 30px;
}

@media(min-width: $tablet-width) {
    .header__logo-img {
        width: 122px;
        height: 37px;
        margin-top: 8px;
    }
}

@media(min-width: $desktop-width) {
    .header__logo-img {
        width: 177px;
        height: 54px;
        // position: relative;
        // left: -11px;
        // top: 8px;
    }
}

////
.header__user-container {
    display: flex;
    width: 64px;
    justify-content: space-between;
}

@media(min-width: $desktop-width) {
    .header__user-container {
        width: auto;
    }
}

@media(min-width: $desktop-width) {
    .header__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
        width: 138px;
    }
}

.header__icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: $light-gray;
    border-radius: 50%;
    box-sizing: border-box;
}

@media(min-width: $tablet-width) {
    .header__icon {
        width: 28px;
        height: 28px;
    }
}

@media(min-width: $desktop-width) {
    .header__icon {
        width: 52px;
        height: 52px;
    }
}

.header__user-title {
    display: none;
}

@media(min-width: $desktop-width) {
    .header__user-title {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 14px;
        width: 73px;
    }
}

.header__icon-ask {
    display: none;
}

@media(min-width: $desktop-width) {
    .header__icon-ask {
        display: inline-block;
    }
    .header__icon-ask::before {
        content: "";
        position: absolute;
        background: url(../img/ask.png) 50% 50% no-repeat;
        background-size: 7px;
        left: 15px;
        top: 14px;
        width: 19px;
        height: 19px;
        background-size: 19px;
    }
    .header__icon-ask::after {
        content: "";
        position: absolute;
        left: 24px;
        top: 23px;
        background-size: 15px;
        height: 15px;
        width: 15px;
        background: url(../img/ask-1.png) 50% 50% no-repeat;
    }
}

.header__icon-login {
    display: none;
}

@media(min-width: $tablet-width) {
    .header__icon-login {
        display: inline-block;
    }
    .header__icon-login::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 12px;
        background: url(../img/login.png) 50% 50% no-repeat;
        background-size: 7px;
        left: 5px;
        top: 3px;
    }
    .header__icon-login::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 12px;
        background: url(../img/login-1.png) 50% 50% no-repeat;
        background-size: 13px;
        left: 5px;
        top: 10px;
    }
}

@media(min-width: $desktop-width) {
    .header__icon-login::before {
        background-size: 12px;
        top: 12px;
        left: 19px;
        width: 12px;
        height: 12px;
    }
    .header__icon-login::after {
        background-size: 22px;
        top: 26px;
        left: 13px;
        width: 23px;
        height: 13px;
    }
}

.header__icon-cage::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 12px;
    background: url(../img/cage.png) 50% 50% no-repeat;
    background-size: 15px;
    left: 6px;
    top: 9px;
}

@media(min-width: $tablet-width) {
    .header__icon-cage::before {
        top: 7px;
    }
}

@media(min-width: $desktop-width) {
    .header__icon-cage::before {
        top: 14px;
        left: 11px;
        width: 27px;
        height: 24px;
        background-size: 27px;
    }
}

.header__cage-insert {
    display: none;
}

@media(min-width: $desktop-width) {
    .header__cage-insert {
        display: inline-block;
        font-weight: 900;
        font-size: 10px;
        line-height: 12px;
        color: $green;
    }
}

.header__search-container {
    width: 100%;
    padding: 8px 10px;
    background-color: $light-gray;
}

@media(min-width: $tablet-width) {
    .header__search-container {
        padding: 10px 40px;
    }
}

@media (min-width: $desktop-width) {
    .header__search-container {
        width: 1030px;
        margin-left: auto;
        padding-top: 7px;
        padding-right: 33px;
        z-index: 3;
    }
}

.header__form {
    position: relative;
}

.header__form::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 15px;
    background: url(../img/search.png) 50% 50% no-repeat;
    background-size: 14px;
    left: 14px;
    top: 5px;
}

@media(min-width: $tablet-width) {
    .header__form::after {
        left: 28px;
        top: 13px;
    }
}

@media(min-width: $desktop-width) {
    .header__form::after {
        width: 23px;
        height: 23px;
        background-size: 22px;
        top: 15px;
    }
}

.header__search-inp {
    width: 100%;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    padding: 5px 110px 5px 38px;
    color: $gray;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media(min-width: $tablet-width) {
    .header__search-inp {
        padding: 13px 110px 13px 53px;
        border-radius: 60px;
    }
}

@media(min-width: $desktop-width) {
    .header__search-inp {
        padding: 20px 110px 14px 66px;
        font-size: 14px;
        line-height: 15px;
    }
}

.header__search-inp::placeholder {
    color: $gray;
}

.header__search-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 4px 31px 4px 32px;
    background-color: $red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

@media(min-width: $tablet-width) {
    .header__search-btn {
        font-size: 12px;
        padding: 6px 29px 6px 29px;
        top: 8px;
        border-radius: 60px;
        right: 8px;
    }
}

@media(min-width: $desktop-width) {
    .header__search-btn {
        font-weight: 500;
        font-size: 15px;
        padding: 8px 33px 5px 39px;
        margin-right: 7px;
        line-height: 18px;
    }
}