.content {
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: $tablet-width) {
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media(min-width: $desktop-width) {
    .content {
        max-width: none;
        width: 1055px;
        position: relative;
        margin-left: auto;
        margin-right: 0;
        top: 0;
    }
}